body {
  margin: 0;
  padding: 0;
}

.container {
  background: rgb(83, 73, 77);
  background: radial-gradient(
    circle,
    rgba(83, 73, 77, 1) 0%,
    rgba(153, 139, 146, 1) 100%
  );

  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 100px auto;
  border-radius: 10px;
}

.image {
  margin: 0 auto;
  border-radius: 50%;
  max-width: 40%;
  height: 160px;
  float: left;
  overflow: hidden;
}

.name {
  display: flex;
  font-size: 45px;
  text-align: center;
  padding-top: 5%;
  font-family: "Xanh Mono", monospace;
  font-weight: bold;
}

.sub-heading {
  font-weight: bold;
  font-size: 18px;
  font-family: "Xanh Mono", monospace;
}

.description {
  font-size: 18px;
  font-family: "Xanh Mono", monospace;
  font-weight: 800;
}

.cv-container {
  text-align: left;
  margin: 0%;
}

.cv-intro {
  padding-bottom: 2%;
  font-family: "Xanh Mono", monospace;
}

.education {
  font-family: "Xanh Mono", monospace;
}

.certifications {
  font-family: "Xanh Mono", monospace;
  font-weight: 800;
  list-style: disclosure-closed;
}

.work-experience {
  font-family: "Xanh Mono", monospace;
}

.work {
  font-family: "Xanh Mono", monospace;
  font-weight: 800;
  list-style: disclosure-closed;
}

.skills {
  font-family: "Xanh Mono", monospace;
}

.my-skills {
  font-family: "Xanh Mono", monospace;
  font-weight: 800;
  list-style: disclosure-closed;
}

.projects {
  font-family: "Xanh Mono", monospace;
}

.my-projects {
  font-family: "Xanh Mono", monospace;
  font-weight: 800;
  list-style: disclosure-closed;
}

footer {
 border-top: 1px solid #f5f1fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 20px;
  }

  .body {
    padding: 0;
    margin: 0;
  }

  .name {
    font-size: 20px;
  }

  .sub-heading {
    font-size: 14px;
  }

  .image {
    max-width: 100%;
    height: auto;
    float: none;
    display: block;
    margin: 0 auto;
  }

  .footer {
    width: 100%;
  }

  .name {
    font-size: 20px;
  }

  .sub-heading {
    font-size: 14px;
  }

  .image {
    max-width: 100%;
    height: auto;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
